@page "/areainfoRes"

<style>

    .beach-guide {
        width: 100%;
        height: 241px;
        background-image: url("./Images/pp.png");
        /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("pp.png");*/
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        order: 1;
        flex-grow: 0;
    }

    .beach-guide-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 40px;
        flex-wrap: wrap;
        margin-top: 49px;
        margin-left: 74px;
    }

    .beach-guide-heading {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 16px;
        height: 42px;
        color: white;
    }

    .btn-prop {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        /* identical to box height */
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }

    .navbar-brand-btn {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 10px;
        gap: 10px;
        width: 147px;
        height: 54px;
        background: linear-gradient(180deg, #7DBCDA 0%, #459DC9 100%);
        border: 1px solid #4199C7;
    }

    .navslides-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0px 0px 68px;
        background: #FFFFFF;
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .navslides-box1 {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .properties-nav {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 25px 0px 19px;
        gap: 10px;
        isolation: isolate;
        height: 60px;
        background: linear-gradient(176.06deg, #7CBBD9 3.22%, #469DC9 96.78%);
        border: 1px solid #4199C7;
        flex: none;
        order: 0;
        flex-grow: 1;
    }

    .shores-heading {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 69px;
        gap: 10px;
        height: 80px;
        text-decoration: none;
        background: #FFFFFF;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }

    .beach-guide-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 19px 0px 0px 80px;
        /* gap: 40px;*/
    }

    .beach-guide-options {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row;*/
        align-items: center;
        padding: 0px;
        height: 62px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 55px 14px 20px;
        gap: 10px;
        height: 59px;
        background: #FFFFFF;
        border-right: 1px solid #9D9D9D;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .beach-guide-btn7 {
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        padding: 6px 14px;
        gap: 10px;
        width: 72px;
        height: 59px;
        background: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 6;
        flex-grow: 0;
    }

    .btn-prop-8 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /* blue linear */
        color: #FFFFFF;
        flex: none;
        order: 7;
        flex-grow: 0;
    }

    .search-area {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        padding: 9px;
        gap: 10px;
        width: 40px;
        height: 40px;
        /* Icon Colour */

        background: rgba(254, 171, 24, 0.8);
        /* White */

        border: 1px solid #FFFFFF;
        box-shadow: 0px 0px 4px #FF8807;
        border-radius: 100px;
    }

    .gulf-title {
        /*width: 1001px;*/
        font-family: 'Inter';
        font-weight: 600;
        font-size: 32px;
        line-height: 22px;
        text-transform: uppercase;
        color: #489FCA;
    }

    .gulf-hedding3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0px 8px 65px;
    }

    .gulf-hedding {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 69px;
        background: #FFFFFF;
        justify-content: center;
    }

    .gulf-shores-img {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-top: 40px;
        background: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 5;
        flex-grow: 0;
    }

    .gulf-shores-heading {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 389px;
        height: 44px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .gulf-shores-tag {
        width: 616px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        text-transform: uppercase;
        color: #489FCA;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .gulf-image-Row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .row-img2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
     
        width: 380px;
        height: 536px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .gulf-image-discription{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 380px;
        height: 169px;
        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
     .gulf-image-discription-heading
     {
            width: 380px;
            height: 29px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height */

            color: #000000;
            /* Inside auto layout */

            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
     }
     .gulf-image-Row
    {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 1220px;
        height: 536px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .gulf-shores-gallery {
        /* display: flex;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 110px;
        gap: 40px;
        background: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 6;
        flex-grow: 0;
    }

    .gulf-gallery-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 389px;
        height: 50px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

</style>


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="\Images\image 3.svg" alt="" width="293" height="68">
        </a>
        <div class="telephone">
            <a>
                <img src="\Images\Phone.svg" alt="" width="20" height="20">
                888-404-2602
            </a>
        </div>
        <div class="d-flex">
            <div class="navbar-brand-btn">
                <a class="btn-prop" href="">Select a beach</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Beach a Buzz</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Wishlist</a>
            </div>
        </div>
    </div>
</nav>


<div class="beach-guide">
    <div class="beach-guide-box">
        <div class="beach-guide-heading">
            <h3 class="gulf-Shores-title">Gulf Shores, Alabama</h3>
        </div>
        <div class="beach-guide-options">
            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Area</label>
                </div>
            </div>

            <div class="beach-guide-btn2">
                <div class="area">
                    <label class="beach-guide-label">Property</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Rental Unit</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check In</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check Out</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Guest</label>
                </div>
            </div>

            <div class="beach-guide-btn7">
                <div class="search-area">
                    <div class="serch-area">
                        <img src="\Images\Searchlogo2.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navslides-box">
    <div class="navslides-box1">
        <div class="properties-nav">
            <a class="btn-prop" href="">Properties</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" style="width: 104px;">Rental Units</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" style="width: 99px;">Informations</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Restaurants</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Golf</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Fishing</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Events</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop-8">Other Things To Do</a>
        </div>
    </div>
</div>
<div class="shores-heading">
    <div class="shores-link">
        <a href="" style="color:#459DC9 ">Home&gt;</a>&nbsp;Gulf Shores Alabama Vacation Properties
    </div>
</div>


<div class="gulf-hedding">
    <div class="gulf-heading2">
        <div class="gulf-heading3">
            <h1 class="gulf-title">Gulf Shores, Alabama</h1>
            <p>
                Life generally moves at a lazy pace in Gulf Shores, a beachside community on the Alabama coast. White sand, waving palm trees, and the clear emerald waters of the Gulf of Mexico make lazing oceanside the preferred pastime for locals and visitors alike.<br><br /> But for those who prefer more action, there's plenty to do. Fishing, swimming, sailing, and other water sports are all popular options. So is shopping in a multitude of stores and outlet malls offering everything from swimsuits to cookware to original artwork.<br><br /> Nature preserves, such as the Bon Secour National Wildlife Refuge, offer a walk on the wild side. For another up-close encounter with nature, try a boat tour of the area's bays, bayous, and marshes, all of which teem with native flora and fauna. At the Dauphin Island Sea Lab Estuarium, interactive exhibits showcasing the aquatic animal and plant life of Mobile Bay and the Gulf Coast region entrance visitors of all ages.<br><br /> History buffs are sure to enjoy visits to Fort Gaines and Fort Morgan. The latter, which guards the main channel into Mobile Bay, was part of a major naval battle during the Civil War.<br><br /> Just a short drive inland are the picturesque towns of Fairhope and Magnolia Springs. Founded more than 100 years ago, Fairhope is best known for its lovely parks, moss-draped live oaks, and spectacular views of Mobile Bay. It also offers a sophisticated mix of shops, boutiques, cafes and art galleries. Tree-shaded streets, gracious homes, and well-tended gardens give Magnolia Springs its special charm. Originally developed from a Spanish land grant in 1800, the town boasts natural springs once dubbed “the purest in the world.”.With mild temperatures and sunny skies the norm year-round, Gulf Shores is an ideal spot for an off-season getaway. It also offers a variety of special events throughout the year, including the National Shrimp Festival, which celebrates its 37th year this October, and the annual Frank Brown International Songwriters Festival, a 10-day musical celebration held each November.<br> <br />With a year-round population of just over 7,000, Gulf Shores may be a tiny town, but don't be deceived. When it comes to fun, it delivers big time.
            </p>
        </div>
    </div>
</div>


<div class="gulf-shores-img">
    <div class="gulf-shores-heading">
        <div class="gulf-shores-tag">
            <h2 style="width: 616px;font-weight: 600;font-size: 23px;line-height: 44px;">
                PLAN YOUR TRIP TO GULF SHORES
            </h2>
        </div>
    </div>


   

    <div class="gulf-image-Row">
        <div class="row-img2">
            <img src="\Images\GulfShoresCard.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">Restaurants</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>
        </div>

        <div class="row-img2">
            <img src="\Images\GulfShoresCard2.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">GOLF</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>

        </div>

        <div class="row-img2">
            <img src="\Images\GulfShoresCard3.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">FISHING</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>
        </div>
    </div>


    <div class="gulf-image-Row">
        <div class="row-img2">
            <img src="\Images\GulfShoresCard4.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">SHOPPING</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>
        </div>

        <div class="row-img2">
            <img src="\Images\GulfShoresCard5.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">EVENTS</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>

        </div>

        <div class="row-img2">
            <img src="\Images\GulfShoresCard6.svg">
            <div class="gulf-image-discription">
                <p class="gulf-image-discription-heading">OTHER THINGS TO DO</p>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc phasellus sed elit suspendisse leo consequat eu dignissim.</p>
                <p>More about:<a href="#" style="color:#4199C7"> Gulf Shores Restaurants</a></p>
            </div>
        </div>
    </div>
</div>

@*<div class="gulf-shores-gallery">
    <div class="gulf-gallery-heading">
        <div class="heading-boarder">
            <h6 class="gulf-gallery-tag">Gulf Shores, Alabama photo gallery</h6>
            <img src="\Images\GulfShoresGallery.svg">
        </div>
    </div>
    <div>
    </div>
</div>*@



<Footer />
    