@page "/FooterResp"

<style>

</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <div class="footer-logo">
                    <img src="\Images\footerlogo.svg" alt="">
                    <div>
                        <p class="footer-content">
                            Find beachfront vacation rentals along the beautiful white-sand beaches of the Alabama and Florida Gulf Coast.
                            Choose from condo rentals, cottages, vacation homes and hotels. Learn more about things to do in our beach destinations, and find information on dining, shopping, golf, fishing and attractions. Also be sure to join us on Facebook and Pinterest,
                            and join our email list to make sure you always get the latest news about events and special deals.
                        </p>
                        <p>
                            <img src="\Images\Phone.svg" class="phone-img"alt="" width="30" height="30">
                            <i class="fas fa-call" style="color:white;padding-left: 10px;">888-404-2602</i>
                        </p>
                    </div>
                </div>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Select a Beach</a></li>
                    <li><a href="#">Deals</a></li>
                    <li><a href="#">Beach Buzz</a></li>
                </ul>
            </div>
            <div class="footer-col">
            
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact BeachGuide</a></li>
                    <li><a href="#">BeachGuide Magazine</a></li>
                    <li><a href="#">Online Magazine</a></li>
                </ul>
            </div>
            <div class="footer-col">
              
                <ul>
                    <li><a href="#">Resort Admin</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><b>Connect with BeachGuide</b></h4>
                <div class="social-links">
                    <a href="#">
                        <img src="\Images\facebooklogo.svg" alt="" width="30" height="30" style="order: 0;border-radius: 8px;">
                    </a>
                    <a href="#">
                        <img src="\Images\twitterlogo.svg" alt="" width="30" height="30" style="order: 1;border-radius: 8px;">
                    </a>
                    <a href="#">
                        <img src="\Images\ptaglogo.svg" alt="" width="30" height="30" style="order:2;border-radius: 8px;">
                    </a>
                </div>
                    <img src="\Images\FooterBookImg.svg" alt="" class="logo-img">
            </div>
        </div>
    </div>
    <div class="Footer.row.bar">
        <div class="footer.row" style="background-color:white;">
            <p style="color:black; padding-left: 50px; margin-top: 10px;">
                &copy; 2023 My Beach Company. <b>All Rights Reserved</b> &nbsp;&nbsp;&nbsp;
                &nbsp; <input type="text" class="copyBox" placeholder="&copy; PROTECTED BY COPYSCAPE" readonly>
                &nbsp; <span><b>Use of this website constitutes acceptance of the BeachGuide.com</b></span>
            </p>
        </div>
    </div>
</footer>