@media screen and (max-width: 768px) {
    .beach-guide {
        width: 100%;
        height: 180px;
    }

    .beach-guide-box {
        margin-top: 30px;
        margin-left: 20px;
    }

    .beach-guide-heading {
        height: 32px;
    }
}

@media (max-width: 767px) {
    .navslides-box {
        padding: 20px 0px 0px 0px;
    }

    .properties-nav {
        height: 50px;
    }
}

/* Media Query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .navslides-box1 {
        flex-direction: column;
        align-items: stretch;
    }

    .properties-nav {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .shores-heading {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3 {
        gap: 5px;
    }

    .gulf-title {
        font-size: 16px;
        line-height: 0px;
    }

    .gulf-inform {
        padding-left: 0;
        text-align: center;
    }
}


    @media (max-width: 767px) {
        .card {
        flex: 0 0 100%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 20px);
    }
}

/*/*****************************NavBar****************************/

.navbar-brand {
    width: 293px;
    height: 68px;
    margin-bottom: 20px;
    background: url(image.png);
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.container-fluid {
    display: flex;
    gap: 10px;
}
.navbar-btn {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 500px;
    height: 54px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-brand-btn {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 10px;
    gap: 10px;
    width: 147px;
    height: 54px;
    background: linear-gradient(180deg, #7DBCDA 0%, #459DC9 100%);
    border: 1px solid #4199C7;
}

.btn-prop {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.telephone {
    margin-left: 90px;
}


@media (max-width: 576px) {
    .navbar-brand-btn {
        width: 100%;
        margin-bottom: 5px;
    }

        .navbar-brand-btn a {
            width: 100%;
            text-align: center;
        }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-brand-btn {
        width: 33.33%;
    }
}

@media (max-width: 575px) {
    .navbar .d-flex {
        flex-wrap: wrap;
    }

    .navbar-brand-btn {
        width: auto;
        margin-right: 10px; /* Adjust the value as per your preference */
        margin-bottom: 0;
    }

                               /* form Phone */

    .telephone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; /* Adjust the margin-top value as per your preference */
    }

        .telephone a {
            display: flex;
            align-items: center;
            gap: 5px; /* Adjust the gap value as per your preference */
        }

}

@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn {
        width: 100%;
        /* margin-bottom: 5px;*/
    }
}

