@page "/rentalunits"


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="\Images\image 3.svg" alt="" width="293" height="68">
        </a>
        <div class="telephone">
            <a>
                <img src="\Images\Phone.svg" alt="" width="20" height="20">
                888-404-2602
            </a>
        </div>
        <div class="d-flex">
            <div class="navbar-brand-btn">
                <a class="btn-prop" href="">Select a beach</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Beach a Buzz</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Wishlist</a>
            </div>
        </div>
    </div>
</nav>


<div class="beach-guide">
    <div class="beach-guide-box">
            <div class="beach-guide-heading">
                <h3 class="gulf-Shores-title">Gulf Shores, Alabama</h3>
            </div>

            <div class="beach-guide-options">
                <div class="beach-guide-btn1">
                   <div class="area">
                       <label class="beach-guide-label">Area</label><br>
                       <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                   </div>
                </div>

                 <div class="beach-guide-btn2">
                   <div class="area">
                       <label class="beach-guide-label">Property</label><br>
                       <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                   </div>
                </div>

                 <div class="beach-guide-btn3">
                   <div class="area">
                       <label class="beach-guide-label">Rental Unit</label><br>
                       <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                   </div>
                </div>

                <div class="beach-guide-btn4">
                   <div class="area">
                       <label class="beach-guide-label">Check In</label><br>
                       <label class="beach-guide-label2">02/06/2023</label>
                   </div>
                </div>

                 <div class="beach-guide-btn5">
                   <div class="area">
                       <label class="beach-guide-label">Check Out</label><br>
                       <label class="beach-guide-label2">20/06/2023</label>
                   </div>
                </div>

                <div class="beach-guide-btn6">
                   <div class="area">
                    <label class="beach-guide-label">Guest</label><br>
                    <label class="beach-guide-label2">2 adults,2 childrens</label>
                   </div>
                </div>

                <div class="beach-guide-btn7">
                    <div class="search-area">
                        <div class="serch-area">
                        <img src="\Images\Searchlogo2.svg">
                        </div>
                    </div>
                </div>
           </div>
        </div>
</div>


<div class="navslides-box">
    <div class="navslides-box1">
        <div class="properties-nav">
            <a class="btn-prop" href="">Properties</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop" style="width: 104px;">Rental Units</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop" style="width: 99px;">Informations</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop">Restaurants</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop">Golf</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop">Fishing</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop">Events</a>
        </div>
         <div class="properties-nav">
            <a class="btn-prop-8" style="width:167px;">Other Things To Do</a>
        </div>
    </div>
</div>

  <div class="shores-heading">
    <div class="shores-link"  >
        <a href="" style="color:#459DC9 ">Home&gt;</a>&nbsp;Gulf Shores Alabama Vacation Properties
    </div>
  </div>

    <div class="gulf-hedding">
       <div class="gulf-heading2">
        <div class="gulf-heading3">
            <h1 class="gulf-title">Gulf Shores, Alabama</h1>
            <div>
                  <a style="padding-left:883px" class="gulf-inform" >More Information</a>
            </div>
        </div>
      </div>
   </div>


    <div class="sort-box">
        <div class="sort-option-box">
            <label class="flex: none;order: 0;flex-grow: 0">Sort By:</label>
            <select class="option-box">
                <option value="">Property Name(A-Z)</option>
            </select>
             <div class="pagination-box">
            <label class="flex: none;order: 0;flex-grow: 0 ; f">Search has returned 100 results.:</label>
        </div>
        </div>
       
      
       
    </div>
   

<form>

    <div class="container-body">

        <div class="frame-row">

            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                               </a>
                            </div>
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                               </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                               </a>
                            </div>
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                               </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-fdetails">
                        <div class="card-f1details">
                        <div class="card-text">
                            <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                        </div>

                        <div class="card-frame">
                                <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                                <a href="">
                                    <img src="\Images\Vector.svg"><br />
                                    <label class="icon-label">Gym</label>
                                </a>
                            </div>
                             <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                                  <a href="">
                                    <img src="\Images\Vector1.svg"><br />
                                    <label class="icon-label">Pool</label>
                                  </a>
                            </div>
                             <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                                  <a href="">
                                    <img src="\Images\Vector2.svg"><br />
                                    <label class="icon-label"style="width:44px;">Dinner</label>
                                  </a>
                            </div>
                                <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                                 <a href="">
                                    <img src="\Images\Vector3.svg"><br />
                                    <label class="icon-label">Golf</label>
                                 </a>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                               </a>
                            </div>
                            <div class="image-container">
                              <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                              </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                                </a>
                            </div>
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                               </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                                </a>
                            </div>
                            <div class="image-container">
                                <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                                </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </div>
                            <div class="image-container">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <a href="#">
                                   <img src="\Images\Heartlogo.svg" alt="Image Description">
                                </a>
                            </div>
                            <div class="image-container">
                               <a href="#">
                                    <img src="\Images\ptaglogo.svg" alt="Image Description">
                               </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People </label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                                </a>
                            </div>
                            <div class="image-container">
                                <a>
                                     <img src="\Images\ptaglogo.svg" alt="Image Description">
                                </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label"style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                    <div class="card-img">
                        <div class="line-btn">
                            <div class="image-container">
                                <a href="#">
                                    <img src="\Images\Heartlogo.svg" alt="Image Description">
                                </a>
                            </div>
                            <div class="image-container">
                                <a>
                                     <img src="\Images\ptaglogo.svg" alt="Image Description">
                                </a>
                            </div>
                        </div>
                        <img src="\Images\image6.svg" alt="Image">
                    </div>
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>

                    <div class="card-frame">
                        <div class="card-frame1"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3"style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <Footer />
</form>

@code {

}

