


body[b-aoke36eyeo] {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

*[b-aoke36eyeo] {
    box-sizing: border-box;
}

.container[b-aoke36eyeo] {
   /* max-width: 750px;*/
    margin: auto;
}

.row[b-aoke36eyeo] {
    display: flex;
    flex-wrap: wrap;
}

ul[b-aoke36eyeo] {
    list-style: none;
}

.footer[b-aoke36eyeo] {
    background-color: #24262b;
    padding: 35px 0px 0px 0px;
}

.footer-content[b-aoke36eyeo] {
    width: 318px;
    height: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #959595;
    padding-right: 73px;
    margin-top: 20px;
}

.footer-col[b-aoke36eyeo] {
    width: 20%;
    padding: 0px 15px 0px 38px;
    display: inline-block; /* Add this line */
    vertical-align: top; /* Add this line */
    box-sizing: border-box; /* Add this line */
}

    .footer-col h4[b-aoke36eyeo] {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4[b-aoke36eyeo]::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child)[b-aoke36eyeo] {
        margin-bottom: 10px;
    }

    .footer-col ul li a[b-aoke36eyeo] {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover[b-aoke36eyeo] {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a[b-aoke36eyeo] {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover[b-aoke36eyeo] {
            color: #24262b;
            background-color: #ffffff;
        }

.phone-img[b-aoke36eyeo] {
    width: 19px;
    margin: 10px;
}

.logo-img[b-aoke36eyeo] {
    width: 186px; /* Adjust the width as needed */
    /*height: 200px;*/ /* Maintain aspect ratio */
}



/*responsive*/
@media(max-width: 767px)(max-width: 900px) {
    .footer-col[b-aoke36eyeo] {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-logo[b-aoke36eyeo] {
        display: flex;
        flex-wrap: wrap;
    }

        .footer-logo img[b-aoke36eyeo] {
            width: 100%;
            margin-bottom: 15px;
        }

        .footer-logo div[b-aoke36eyeo] {
            flex-basis: 100%;
        }

    .footer-content[b-aoke36eyeo] {
        font-size: 14px;
    }

    .footer-logo p:last-child[b-aoke36eyeo] {
        display: flex;
        align-items: center;
    }
}

@media(max-width: 574px) {
    .footer-col[b-aoke36eyeo] {
        width: 100%;
    }
}
@media (max-width: 820px) {
    .footer[b-aoke36eyeo] {
        padding: 29px 22px 0px 0px;
    }

    .container[b-aoke36eyeo] {
        max-width: 100%;
        padding: 0 15px;
    }

    .footer-col[b-aoke36eyeo] {
        width: 50%;
        margin-bottom: 30px;
    }

        .footer-col:nth-child(odd)[b-aoke36eyeo] {
            text-align: left;
        }

        .footer-col:nth-child(even)[b-aoke36eyeo] {
            text-align: right;
        }

    .footer-logo img[b-aoke36eyeo] {
     /*   width: 100%;*/
        max-width: 200px;
      /*  margin-bottom: 15px;*/
    }

    .footer-content[b-aoke36eyeo] {
        font-size: 12px;
    }

    .footer-col h4[b-aoke36eyeo]::before {
        left: 0;
        transform: none;
    }

    .social-links[b-aoke36eyeo] {
        justify-content: center;
    }

    .logo-img[b-aoke36eyeo] {
      /*  width: 100%;*/
        max-width: 150px;
        height: auto;
    }
    .footer-col[b-ol4ar9dx2n][b-aoke36eyeo] {
        width: 50%;
        margin-bottom: 0px;
    }
    .phone-img[b-aoke36eyeo] {
        width: 12%;
    }
}

@media(ma-width: 1107px) {
    .logo-img[b-aoke36eyeo] {
        width: 145px;
        height: 147px;
    }
    dl[b-aoke36eyeo], ol[b-aoke36eyeo], ul[b-aoke36eyeo] {
        margin-top: 0;
        padding: 5px 0px 0px 88px;
    }
}

