


/***********************************FOR IPad Air ***************************************************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .shores-heading {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .beach-guide-box {
        flex-direction: column;
        align-items: stretch;
        padding: 3px 0px 0px 0px;
        gap: 6px;
        margin-left: 37px;
    }


    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex-grow: 0;
        width: 26%;
        padding: 26px 14px 21px 27px;
    }

    .gulf-Shores-title {
        font-weight: 500;
        padding: 0px 60px 0px 0px;
        font-size: 23px;
    }


    .navslides-box {
        display: contents;
    }

    .navslides-box1 {
        flex-direction: column;
        align-items: stretch;
    }

    .properties-nav {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }


    .container-body {
        justify-content: center;
    }

    .card {
        padding: 6px 30px 11px 31px;
        margin-top: 23px;
    }
    .frame-row {
        display: table;
    }


    .row-frame1 {
        display: inline;
    }

    .row-heading-box {
        display: contents;
    }

    .beach-clubslider-slideimg {
    }
    .clubglufshoresimg {
        width: 41%;
    }

    h5 {
        font-weight: 600;
        font-size: 30px;
    }
    .booking-Request-btn {
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
    }
    h4 {
        font-size: large;
    }
    .resort-paragraph {
        font-size: smaller;
    padding: 9px 702px 0px 5px;
    }

    .beach-club-slider {
        gap: 0px;
    }

    .gulf-title {
        padding: 22px 0px 0px 0px;
        font-size: x-large;
    }

    .shores-aminities {
    }
    .aminities-beach-club {
    }
    .aminities-beach-row {
        width: 100px;
        display: inline-grid;
    }
}

@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn {
        width: 100%;
        /* margin-bottom: 5px;*/
    }
}
