/*/*****************************NavBar****************************/

.navbar-brand {
    width: 293px;
    height: 68px;
    margin-bottom: 20px;
    background: url(image.png);
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.container-fluid {
    display: flex;
    gap: 10px;
}

.navbar-btn {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 500px;
    height: 54px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-brand-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 10px;
    gap: 10px;
    width: 147px;
    height: 54px;
    background: linear-gradient(180deg, #7DBCDA 0%, #459DC9 100%);
    border: 1px solid #4199C7;
}

.btn-prop {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.telephone {
    margin-left: 90px;
}



@media (max-width: 767px) {
    .navslides-box {
        padding: 20px 0px 0px 0px;
    }

    .properties-nav {
        height: 50px;
    }
}

/* Media Query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .navslides-box1 {
        flex-direction: column;
        align-items: stretch;
    }

    .properties-nav {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }
}


@media (max-width: 767px) {
    .shores-heading {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3 {
       
    }

    .gulf-title {
        font-size: 16px;
        line-height: 29px;
    }

    .gulf-inform {
        padding-left: 0;
        text-align: center;
    }
    .frame-row {
        padding: 0px 0px 0px 0px;
        margin-block: 15px;
        display: inline-grid;
    }
    .sort-option-box {
        display: inline-table;
    }

    .beach-guide-box {
        flex-direction: column;
        align-items: stretch;
        padding: 0px 50px 0px 0px;
        gap: 25px;
    }
    .area {
    }
    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex-grow: 0;
        width: 26%;
        padding: 26px 14px 21px 27px;
    }

    .gulf-Shores-title {
        font-weight: 500;
        font-size: 23px;
    }
   
}




@media (max-width: 576px) {
    .navbar-brand-btn {
        width: 100%;
        margin-bottom: 5px;
    }

        .navbar-brand-btn a {
            width: 100%;
            text-align: center;
        }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-brand-btn {
        width: 33.33%;
    }
}

@media (max-width: 575px) {
    .navbar .d-flex {
        flex-wrap: wrap;
    }

    .navbar-brand-btn {
        width: auto;
        margin-right: 10px; /* Adjust the value as per your preference */
        margin-bottom: 0;
    }
                               /* form Phone */
    .telephone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; /* Adjust the margin-top value as per your preference */
    }

        .telephone a {
            display: flex;
            align-items: center;
            gap: 5px; /* Adjust the gap value as per your preference */
        }

}

@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn {
        width: 100%;
        /* margin-bottom: 5px;*/
    }
}

@media(max-width:768px) {
    .gulf-title {
        font-size: 17px;
       
    }
}

@media screen and (max-width: 768px) {
    .container-body {
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}

/***********************************FOR IPad Air ***************************************************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .shores-heading {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3 {
    }

    .gulf-title {
        font-size: 26px;
        line-height: 29px;
    }

    .gulf-inform {
        padding-left: 0;
        text-align: center;
    }

    .frame-row {
        padding: 0px 0px 0px 68px;
        margin-block: 15px;
        display: inline-grid;
    }

    .sort-option-box {
        display: inline-table;
    }

    .beach-guide-box {
        flex-direction: column;
        align-items: stretch;
        padding: 3px 0px 0px 0px;
        gap: 5px;
        margin-left: 37px;
    }


    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex-grow: 0;
        width: 26%;
        padding: 15px 19px 23px 20px;
    }

    .gulf-Shores-title {
        font-weight: 500;
        padding: 0px 60px 0px 0px;
        font-size: 23px;
    }


    .navslides-box {
        display: contents;
    }

    .navslides-box1 {
        flex-direction: column;
        align-items: stretch;
    }
    .properties-nav {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }
    .pagination-box {
        margin-left: 0px;
        margin-top: 30px;
    }
  
    .card-text {
        font-size: 14px;
    }
    .beach-guide-options {
        padding: 0px 0px 0px 0px;
    }
}

/********************************************* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 390px),(min-width: 360px) ,(min-width: 280px) {
    .beach-guide-box {
        /* margin-top: 0px;*/
        padding: 45px 1px 0px 0px;
        display: flex;
        gap: 20px;
        margin-top: 23px;
        margin-left: 36px;
    }

    .beach-guide {
        height: 328px;
        display: flex;
        width: 100%;
    }
    .gulf-Shores-title {
        display: contents;
        font-size: 28px;
    }
    .beach-guide-options {
        display: flex;
        padding: 0px 0px 0px 0px;
        align-items: center;
        margin-right: 0px;
        gap: 1px;
      /*  margin-top: 63px;*/
        margin-left: 0px;
    }
    .beach-guide-heading {
      /*  display: contents;*/
    }
    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex-grow: 0;
        width: 15%;
        padding: 0px 65px 0px 23px;
    }

    .shores-link {
        margin-top: 11px;
    }
    .pagination-box {
        display: contents;
        margin-top: 0px;
        /* width: 100%;
        margin-left: 0px;*/
        /* padding: 23px 0px 0px 0px;*/
    }
    .gulf-title {
        font-size: 22px;
    }
    .gulf-hedding {
       /* padding: 15px 0px 0px 20px;*/
    }
    .sort-box {
       /* padding: 31px 0px 31px 20px;*/
    }
    .card-frame {
    }
    .icon-label {
    }
    .moreInfo {
        margin-left: 0px;
    }
}

@media(min-width:1024) {
    .container-body {
    }

    .frame-row {
    }
}

@media(min-width:540px) {
    .card-text {
        font-size: 15px;
    }
    .container-body {
        display: grid;
    }
}

@media(max-width:1024px),(min-width:600px) {
    .card {
    }
  /*  .frame-row {
        padding: 12px 153px 0px 100px;
    }*/
}