@page "/rental"

@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
    <div class="container-fluid">
        @* <div class="container-fluid">*@
        <a class="navbar-brand" href="#">
            <img src="\Images\RentalUnits\image 3.svg" alt="" width="293" height="68">
        </a>
        <div class="telephone">
            <a>
                <img src="\Images\RentalUnits\Phone.svg" alt="" width="20" height="20">
                888-404-2602
            </a>
        </div>

        <button class="navbar-toggler" type="button" @onclick="ToggleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @(isNavbarOpen ? "show" : "")">
            <ul class="navbar-nav">
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">Select a beach</a>
                </li>
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">Beach a Buzz</a>
                </li>
                <li class="navbar-brand-btn @(GetNavLinkActive(""))">
                    <a class="btn-prop" href="">Wishlist</a>
                </li>
            </ul>
       </div>

     @*   <div class="d-flex">
            <div class="navbar-brand-btn">
                <a class="btn-prop" href="">Select a beach</a>
            </div>
            <div class="navbar-brand-btn ">
                <a class="btn-prop" href="">Beach a Buzz</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop" href="">Wishlist</a>
            </div>
        </div>*@
    </div>
</nav>


<div class="beach-guide">
    <div class="beach-guide-box">
        <div class="beach-guide-heading">
            <h3 class="gulf-Shores-title">Gulf Shores, Alabama</h3>
        </div>
        <div class="beach-guide-options">
            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Area</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn2">
                <div class="area">
                    <label class="beach-guide-label">Property</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Rental Unit</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check In</label>
                    <label class="beach-guide-label2">02/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check Out</label>
                    <label class="beach-guide-label2">20/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Guest</label>
                    <label class="beach-guide-label2">2 adults,2 childrens</label>
                </div>
            </div>

            <div class="beach-guide-btn7">
                <div class="search-area">
                    <div class="serch-area">
                        <img src="\Images\RentalUnits\Searchlogo2.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navslides-box">
    <div class="navslides-box1">
        <div class="properties-nav">
            <a class="btn-prop" href="">Properties</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Rental Units</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Informations</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Restaurants</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Golf</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Fishing</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop" href="">Events</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop-8" href="">Other Things To Do</a>
        </div>
    </div>
</div>

<div class="shores-heading">
    <div class="shores-link">
        <a href="" style="color:#459DC9 ">Home&gt;</a>&nbsp;Gulf Shores Alabama Vacation Properties
    </div>
</div>


<div class="gulf-hedding">
    <div class="gulf-heading2">
        <div class="gulf-heading3">
            <h1 class="gulf-title">Gulf Shores, Alabama</h1>
            <div class="moreInfo">
                <a class="gulf-inform">More Information</a>
            </div>
        </div>
    </div>
</div>

<div class="sort-box">
    <div class="sort-option-box">
        <label class="flex: none;order: 0;flex-grow: 0">Sort By:</label>
        <select class="option-box">
            <option value="">Property Name(A-Z)</option>
        </select>
        <div class="pagination-box">
            <label style="flex: none;order: 0;flex-grow: 0 ;">Search has returned 100 results.:</label>
        </div>
    </div>
</div>



<div class="container-body">
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>
          
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit2.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit3.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>


                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                            <img src="\Images\RentalUnits\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\RentalUnits\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\RentalUnits\RentalUnit1.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</div>

<Footer/>


@code {
    private bool isNavbarOpen = false;

    private void ToggleNavbar()
    {
        isNavbarOpen = !isNavbarOpen;
    }

    private string GetNavLinkActive(string path)
    {
        return NavigationManager.Uri.Contains(path, StringComparison.InvariantCultureIgnoreCase) ? "active" : "";
    }
}
