@page "/rental"

<style>
    .beach-guide {

        width: 100%;
        height: 241vw;
        background-image: url("./Images/pp.png");
        /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("pp.png");*/
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        order: 1;
        flex-grow: 0;
    }

    .beach-guide-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 40px;
        flex-wrap: wrap;
       /* margin-top: 93px;*/
        margin-left: 10px;
    }

    .beach-guide-heading {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 16px;
        height: 42px;
        color: white;
    }

    .btn-prop {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        /* identical to box height */
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }

    .navbar-brand-btn {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 10px;
        gap: 10px;
        width: 147px;
        height: 54px;
        background: linear-gradient(180deg, #7DBCDA 0%, #459DC9 100%);
        border: 1px solid #4199C7;
    }

    .navslides-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0px 0px 68px;
        background: #FFFFFF;
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .navslides-box1 {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .properties-nav {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 25px 0px 19px;
        gap: 10px;
        isolation: isolate;
        height: 60px;
        background: linear-gradient(176.06deg, #7CBBD9 3.22%, #469DC9 96.78%);
        border: 1px solid #4199C7;
        flex: none;
        order: 0;
        flex-grow: 1;
    }

    .shores-heading {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 69px;
        gap: 10px;
        height: 80px;
        text-decoration: none;
        background: #FFFFFF;
        flex: none;
        order: 3;
        align-self: stretch;
        flex-grow: 0;
    }

    .container-body {
        /*display: flex;*/
        /*flex-wrap: wrap;*/
    }

    .card {
        flex: 0 0 calc(33.33% - 20px);
        background-color: #fff;
        padding: 0px;
        overflow: hidden;
        border: 1px solid #FF8807;
        padding: 9px;
    }

    .fluid-image {
        width: 100%;
        height: auto;
    }

    .gulf-Shores-title {
        height: 42px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        padding: 0px 105px 0px 0px;
        font-size: 30px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .btn-prop-8 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /* blue linear */
        color: #FFFFFF;
        flex: none;
        order: 7;
        flex-grow: 0;
    }

    .frame-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0px 8px 0px;
        gap: 25px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .card-people-details {
        box-sizing: border-box;
        /* Auto layout */
        flex-direction: column;
        align-items: flex-start;
        padding: 6px 14px;
        gap: 10px;
        width: 296px;
        height: 36px;
        background: #02285C;
        border: 1px solid rgba(255, 255, 255, 0.3);
        flex: none;
        order: 2;
        flex-grow: 0;
        margin-top: 20px;
    }

    .card-details-text {
        width: 67px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

        .card-details-text:not(:last-child) {
            border-right: 1px solid #ddd;
        }

    .card-details-text3:not(:last-child) {
        border-right: 1px solid #ddd;
    }

    .card-details-text2 {
        width: 92px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .card-details-text3 {
        width: 97px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 4;
        flex-grow: 0;
    }

    .card-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding: 0px 9px 0px 16px;
        color: #4E4E4E;
        margin-top: 20px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .card-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        gap: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .card-frame1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 44px;
        height: 39px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .card-frame2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 44px;
        height: 39px;
        /* Inside auto layout */

        flex: none;
        order: 2;
        flex-grow: 0;
    }

    .card-frame3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 50px;
        height: 39px;
        /* Inside auto layout */

        flex: none;
        order: 4;
        flex-grow: 0;
    }

    .card-frame4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 4px;
        width: 50px;
        height: 39px;
        /* Inside auto layout */

        flex: none;
        order: 6;
        flex-grow: 0;
    }

    .card-heding {
       /* width: 204px;
        height: 29px;*/
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        margin-top: 8px;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        /* blue */
        color: #4199C7;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

   /* .card-outline
    {
        box-sizing: border-box;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px 20px;
        width: 385px;
        height: 493px;
        background: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }*/

   /* .beach-guide-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 0px 0px;
       
   }*/

    .beach-guide-options {
        display: flex;
        flex-wrap: wrap;
       /* flex-direction: row;*/
        align-items: center;
        padding: 0px 72px 0px 0px;
        height: 62px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .beach-guide-btn1,
    .beach-guide-btn2 {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 55px 14px 20px;
        gap: 10px;
        height: 59px;
        background: #FFFFFF;
        border-right: 1px solid #9D9D9D;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .beach-guide-btn7 {
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        padding: 6px 14px;
        gap: 10px;
        width: 72px;
        height: 59px;
        background: #FFFFFF;
        /* Inside auto layout */

        flex: none;
        order: 6;
        flex-grow: 0;
    }

    .search-area {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        padding: 9px;
        gap: 10px;
        width: 40px;
        height: 40px;
        /* Icon Colour */

        background: rgba(254, 171, 24, 0.8);
        /* White */

        border: 1px solid #FFFFFF;
        box-shadow: 0px 0px 4px #FF8807;
        border-radius: 100px;
    }

    .gulf-title {
        /*width: 1001px;*/
        font-family: 'Inter';
        font-weight: 600;
        font-size: 32px;
        line-height: 22px;
        text-transform: uppercase;
        color: #489FCA;
        flex: 1;
    }

    .gulf-inform {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #FF8807;
    }

    .gulf-hedding3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 0px 8px 65px;
    }

    .gulf-hedding {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 69px;
        background: #FFFFFF;
        justify-content: center;
        flex: none;
        order: 4;
        flex-grow: 0;
    }

    .sort-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 27px 69px;
        gap: 10px;
        background: #FFFFFF;
        justify-content: center;
    }

    .sort-option-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        height: 44px;
    }

    .pagination-box {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-left: 267px;
        color: #6A6A6A;
    }

    .card-img {
        max-width: 100%;
        margin-top: 20px;
        width: 344px;
        height: 217px;
        background: url(.jpg);
        order: 1;
        flex-grow: 0;
    }

    .line-btn {
          position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 5px 20px;
        gap: 16px;
        width: 112vw;
        height: auto;
        margin-left: 222vw;
        margin-top: 10vw;
        /* top: 10px;*/
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    .gulf-heading3 {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .menu-button {
        display: none; /* Hide the button by default */
    }

    .image-container {
        width: 28px;
        height: 28px;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .icon-label {
        width: 31px;
        height: 17px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #4199C7;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .moreInfo{
        display: flex;
        flex-direction: row;
        margin-left: 312px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .gulf-heading2
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .beach-guide-label {
       
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #FF8807;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .beach-guide-label2 {
        width: 80px;
        height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        /* Black */

        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .waterspace-img{
        width: 100%;
        height: auto;
    }

</style>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="\Images\image 3.svg" alt="" width="293" height="68">
        </a>
        <div class="telephone">
            <a>
                <img src="\Images\Phone.svg" alt="" width="20" height="20">
                888-404-2602
            </a>
        </div>
        <div class="d-flex">
            <div class="navbar-brand-btn">
                <a class="btn-prop" href="">Select a beach</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Beach a Buzz</a>
            </div>
            <div class="navbar-brand-btn">
                <a class="btn-prop">Wishlist</a>
            </div>
        </div>
    </div>
</nav>


<div class="beach-guide">
    <div class="beach-guide-box">
        <div class="beach-guide-heading">
            <h3 class="gulf-Shores-title">Gulf Shores, Alabama</h3>
        </div>
        <div class="beach-guide-options">
            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Area</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn2">
                <div class="area">
                    <label class="beach-guide-label">Property</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Rental Unit</label>
                    <label class="beach-guide-label2">Lorem Ipsum Dolar</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check In</label>
                    <label class="beach-guide-label2">02/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Check Out</label>
                    <label class="beach-guide-label2">20/06/2023</label>
                </div>
            </div>

            <div class="beach-guide-btn1">
                <div class="area">
                    <label class="beach-guide-label">Guest</label>
                    <label class="beach-guide-label2">2 adults,2 childrens</label>
                </div>
            </div>

            <div class="beach-guide-btn7">
                <div class="search-area">
                    <div class="serch-area">
                        <img src="\Images\Searchlogo2.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navslides-box">
    <div class="navslides-box1">
        <div class="properties-nav">
            <a class="btn-prop" href="">Properties</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Rental Units</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Informations</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Restaurants</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Golf</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Fishing</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop">Events</a>
        </div>
        <div class="properties-nav">
            <a class="btn-prop-8">Other Things To Do</a>
        </div>
    </div>
</div>
<div class="shores-heading">
    <div class="shores-link">
        <a href="" style="color:#459DC9 ">Home&gt;</a>&nbsp;Gulf Shores Alabama Vacation Properties
    </div>
</div>


<div class="gulf-hedding">
    <div class="gulf-heading2">
        <div class="gulf-heading3">
            <h1 class="gulf-title">Gulf Shores, Alabama</h1>
            <div class="moreInfo">
                <a class="gulf-inform">More Information</a>
            </div>
        </div>
    </div>
</div>

<div class="sort-box">
    <div class="sort-option-box">
        <label class="flex: none;order: 0;flex-grow: 0">Sort By:</label>
        <select class="option-box">
            <option value="">Property Name(A-Z)</option>
        </select>
        <div class="pagination-box">
            <label style="flex: none;order: 0;flex-grow: 0 ;">Search has returned 100 results.:</label>
        </div>
    </div>
</div>



<div class="container-body">
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>
          
                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                            <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
      


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="frame-row">
            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="card-heding">
                        <h4>Watersapce B618</h4>
                    </div>
                <div class="card-img">
                    <div class="line-btn">
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\Heartlogo.svg" alt="Image Description">
                            </a>
                        </div>
                        <div class="image-container">
                            <a href="#">
                                <img src="\Images\ptaglogo.svg" alt="Image Description">
                            </a>
                        </div>
                    </div>
                    <img src="\Images\image6.svg" alt="Image" class="waterspace-img">
                </div>

                    <div class="card-people-details">
                        <label class="card-details-text">5 People</label>
                        <label class="card-details-text3">3 Bedroom</label>
                        <label class="card-details-text2">2 Bathrooms</label>
                    </div>
                    <div class="card-text">
                        <p>Destin’s beautiful holiday isle is the setting for aegean, a...</p>
                    </div>
                    <div class="card-frame">
                        <div class="card-frame1" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector.svg"><br />
                                <label class="icon-label">Gym</label>
                            </a>
                        </div>
                        <div class="card-frame2" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector1.svg"><br />
                                <label class="icon-label">Pool</label>
                            </a>
                        </div>
                        <div class="card-frame3" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector2.svg"><br />
                                <label class="icon-label" style="width:44px;">Dinner</label>
                            </a>
                        </div>
                        <div class="card-frame4" style="border-right: 0.5px solid #4199C7;">
                            <a href="">
                                <img src="\Images\Vector3.svg"><br />
                                <label class="icon-label">Golf</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<Footer/>


@code {
    private bool showOptions = false;

    private void ToggleMenu()
    {
        showOptions = !showOptions;
    }
}