


body[b-obist3u3ks] {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

*[b-obist3u3ks] {
    box-sizing: border-box;
}

.container[b-obist3u3ks] {
   /* max-width: 750px;*/
    margin: auto;
}

.row[b-obist3u3ks] {
    display: flex;
    flex-wrap: wrap;
}

ul[b-obist3u3ks] {
    list-style: none;
}

.footer[b-obist3u3ks] {
    background-color: #24262b;
    padding: 35px 0px 0px 0px;
}

.footer-content[b-obist3u3ks] {
    width: 318px;
    height: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #959595;
    padding-right: 73px;
    margin-top: 20px;
}

.footer-col[b-obist3u3ks] {
    width: 20%;
    padding: 0px 15px 0px 38px;
    display: inline-block; /* Add this line */
    vertical-align: top; /* Add this line */
    box-sizing: border-box; /* Add this line */
}

    .footer-col h4[b-obist3u3ks] {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4[b-obist3u3ks]::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child)[b-obist3u3ks] {
        margin-bottom: 10px;
    }

    .footer-col ul li a[b-obist3u3ks] {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover[b-obist3u3ks] {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a[b-obist3u3ks] {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover[b-obist3u3ks] {
            color: #24262b;
            background-color: #ffffff;
        }

.phone-img[b-obist3u3ks] {
    width: 19px;
    margin: 10px;
}

.logo-img[b-obist3u3ks] {
    width: 186px; 
}

.copyBox[b-obist3u3ks] {
    border-radius: 5px;
    border: 1px solid #064F9C;
}


/*responsive*/
/*@media(max-width: 767px)(max-width: 900px) {*/
/* .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }*/
/*.footer-logo {
        display: flex;
        flex-wrap: wrap;
    }

        .footer-logo img {
            width: 100%;
            margin-bottom: 15px;
        }

        .footer-logo div {
            flex-basis: 100%;
        }

    .footer-content {
        font-size: 14px;
    }

    .footer-logo p:last-child {
        display: flex;
        align-items: center;
    }
}*/
@media (max-width: 820px) {
    .footer[b-obist3u3ks] {
       /* padding: 29px 22px 0px 0px;*/
    }

    .container[b-obist3u3ks] {
        max-width: 100%;
        padding: 0 15px;
    }

    .footer-col[b-obist3u3ks] {
        display: contents;
    }

    

    .footer-logo img[b-obist3u3ks] {
     /*   width: 100%;*/
        max-width: 200px;
      /*  margin-bottom: 15px;*/
    }

    .footer-content[b-obist3u3ks] {
        font-size: 12px;
    }

    .social-links[b-obist3u3ks] {
        justify-content: center;
    }

    .logo-img[b-obist3u3ks] {
        max-width: 180px;
        height: auto;
    }
   
    .phone-img[b-obist3u3ks] {
        width: 12%;
    }
}

@media(ma-width: 1107px) {
    .logo-img[b-obist3u3ks] {
        width: 145px;
        height: 147px;
    }
    dl[b-obist3u3ks], ol[b-obist3u3ks], ul[b-obist3u3ks] {
        margin-top: 0;
        padding: 5px 0px 0px 88px;
    }
}

/********************************************* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 390px),(min-width: 375px),(min-width:360px),(min-width:414) {

    .footer[b-obist3u3ks] {
        padding: 29px 0px 0px 0px;
    }
   .row[b-obist3u3ks] {
        padding: 0px 0px 0px 28px;
    }

    .footer-col[b-obist3u3ks] {
        /*display: contents;*/
        text-align: start;
        border-bottom: 1px solid var(--bs-gray-500);
    }
    .footer-content[b-obist3u3ks] {
    }
   

}



/***************************************** CSS rules specific to iPad Pro 7 in landscape mode */


@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .row[b-obist3u3ks] {
    }
    .footer-col[b-obist3u3ks] {
        display: inline-table;
    }
    .card[b-obist3u3ks] {
    }
}


/********************************* CSS rules specific to Google Nest Hub in landscape mode */

@media only screen and (min-device-width: 480px) and (max-device-width: 960px) and (orientation: landscape) {
    .footer-col[b-obist3u3ks] {
    }
  
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .footer-col[b-obist3u3ks] {
    }
}

@media only screen and (width: 820px) {
    .footer-col[b-obist3u3ks] {
       /* display: table;*/
    }

    .row[b-obist3u3ks] {
    }
}
