
/*/*****************************NavBar****************************/
.navbar-brand[b-klyc01bj3c] {
    width: 293px;
    height: 68px;
    margin-bottom: 20px;
    background: url(image.png);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container-fluid[b-klyc01bj3c] {
    display: flex;
    gap: 10px;
}

.navbar-btn[b-klyc01bj3c] {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 500px;
    height: 54px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn-prop[b-klyc01bj3c] {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* z-index: 0;*/
}

.telephone[b-klyc01bj3c] {
    margin-left: 90px;
}

/*From New Page************************************************/

.beach-guide[b-klyc01bj3c] {
    width: 100%;
    height: 241px;
    background-image: url("./Images/RentalUnits/pp.png");
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("pp.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    order: 1;
    flex-grow: 0;
}
.beach-guide-box[b-klyc01bj3c] {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    flex-wrap: wrap;
    /* margin-top: 93px;*/
    margin-left: 10px;
}

.beach-guide-heading[b-klyc01bj3c] {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    height: 42px;
    color: white;
}

.navbar-brand-btn[b-klyc01bj3c] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 16px 0px 3px;
    gap: 10px;
    width: 147px;
    height: 59px;
    background: linear-gradient(180deg, #7DBCDA 0%, #459DC9 100%);
    border: 1px solid #4199C7;
}

/*.navbar-nav {
    margin-left: 312px;
}*/


.navslides-box[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0px 0px 68px;
    background: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.navslides-box1[b-klyc01bj3c] {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.properties-nav[b-klyc01bj3c] {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 25px 0px 19px;
    gap: 10px;
    isolation: isolate;
    height: 60px;
    background: linear-gradient(176.06deg, #7CBBD9 3.22%, #469DC9 96.78%);
    border: 1px solid #4199C7;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.shores-heading[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 69px;
    gap: 10px;
    height: 80px;
    text-decoration: none;
    background: #FFFFFF;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.container-body[b-klyc01bj3c] {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.card[b-klyc01bj3c] {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #fff;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #FF8807;
    padding: 9px;
}

.fluid-image[b-klyc01bj3c] {
    width: 100%;
    height: auto;
}

.gulf-Shores-title[b-klyc01bj3c] {
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    padding: 0px 105px 0px 0px;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-prop-8[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* blue linear */
    color: #FFFFFF;
    flex: none;
    order: 7;
    flex-grow: 0;
}

.frame-row[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 8px 0px;
    gap: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.card-people-details[b-klyc01bj3c] {
    box-sizing: border-box;
    /* Auto layout */
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 14px;
    gap: 10px;
    width: 296px;
    height: 36px;
    background: #02285C;
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 20px;
}

.card-details-text[b-klyc01bj3c] {
    width: 67px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

    .card-details-text:not(:last-child)[b-klyc01bj3c] {
        border-right: 1px solid #ddd;
    }

.card-details-text3:not(:last-child)[b-klyc01bj3c] {
    border-right: 1px solid #ddd;
}

.card-details-text2[b-klyc01bj3c] {
    width: 92px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.card-details-text3[b-klyc01bj3c] {
    width: 97px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.card-text[b-klyc01bj3c] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 0px 0px 3px;
    color: #4E4E4E;
    margin-top: 20px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-frame[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-frame1[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 44px;
    height: 39px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.card-frame2[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 44px;
    height: 39px;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.card-frame3[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 50px;
    height: 39px;
    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.card-frame4[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 50px;
    height: 39px;
    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;
}

.card-heding[b-klyc01bj3c] {
    /* width: 204px;
        height: 29px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    margin-top: 8px;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    /* blue */
    color: #4199C7;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.beach-guide-options[b-klyc01bj3c] {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row;*/
    align-items: center;
    padding: 0px 72px 0px 0px;
    height: 62px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.beach-guide-btn1[b-klyc01bj3c],
.beach-guide-btn2[b-klyc01bj3c] {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 55px 14px 20px;
    gap: 10px;
    height: 59px;
    background: #FFFFFF;
    border-right: 1px solid #9D9D9D;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.beach-guide-btn7[b-klyc01bj3c] {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    align-items: center;
    padding: 6px 14px;
    gap: 10px;
    width: 72px;
    height: 59px;
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 6;
    flex-grow: 0;
}

.search-area[b-klyc01bj3c] {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding: 9px;
    gap: 10px;
    width: 40px;
    height: 40px;
    /* Icon Colour */
    background: rgba(254, 171, 24, 0.8);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 4px #FF8807;
    border-radius: 100px;
}

.gulf-title[b-klyc01bj3c] {
    /*width: 1001px;*/
    font-family: 'Inter';
    font-weight: 600;
    font-size: 32px;
    line-height: 22px;
    text-transform: uppercase;
    color: #489FCA;
    flex: 1;
}

.gulf-inform[b-klyc01bj3c] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF8807;
}

.gulf-hedding3[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px 8px 65px;
}

.gulf-hedding[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 69px;
    background: #FFFFFF;
    justify-content: center;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.sort-box[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 69px;
    gap: 10px;
    background: #FFFFFF;
    justify-content: center;
}

.sort-option-box[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 44px;
}

.option-box[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 40px;
    flex: none;
    /* order: 1;*/
    flex-grow: 0;
}

.pagination-box[b-klyc01bj3c] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 267px;
    color: #6A6A6A;
}

.card-img[b-klyc01bj3c] {
    max-width: 100%;
    margin-top: 20px;
    width: 344px;
    height: 217px;
    background: url(.jpg);
    order: 1;
    flex-grow: 0;
}


.line-btn[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 20px;
    gap: 16px;
    position: absolute;
    width: 112px;
    height: 38px;
    margin-left: 222px;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

/* .line-btn {
          
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 5px 20px;
        gap: 16px;
        position: absolute;
        width: 112vw;
        height: 38px;
        margin-left: 222vw;
        margin-top: 10vw;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }*/

.gulf-heading3[b-klyc01bj3c] {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-button[b-klyc01bj3c] {
    display: none; /* Hide the button by default */
}

.image-container[b-klyc01bj3c] {
    width: 28px;
    height: 28px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon-label[b-klyc01bj3c] {
    width: 31px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #4199C7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.moreInfo[b-klyc01bj3c] {
    display: flex;
    flex-direction: row;
    margin-left: 312px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.gulf-heading2[b-klyc01bj3c] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.beach-guide-label[b-klyc01bj3c] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FF8807;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.beach-guide-label2[b-klyc01bj3c] {
    width: 80px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* Black */

    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.waterspace-img[b-klyc01bj3c] {
    width: 100%;
    height: auto;
}

.navbar-toggler[b-klyc01bj3c] {
    border: none;
}






@media (max-width: 767px) {
    .navslides-box[b-klyc01bj3c] {
        padding: 20px 0px 0px 0px;
    }

    .properties-nav[b-klyc01bj3c] {
        height: 50px;
    }

    .navbar-brand img[b-klyc01bj3c] {
        width: 235px; 
    }
}

/**************************** Media Query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .navslides-box1[b-klyc01bj3c] {
        flex-direction: column;
        align-items: stretch;
    }

    .properties-nav[b-klyc01bj3c] {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }
}


@media (max-width: 767px) {
    .shores-heading[b-klyc01bj3c] {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link[b-klyc01bj3c] {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3[b-klyc01bj3c] {
    }

    .gulf-title[b-klyc01bj3c] {
        font-size: 16px;
        line-height: 29px;
    }

    .gulf-inform[b-klyc01bj3c] {
        padding-left: 0;
        text-align: center;
    }

    .frame-row[b-klyc01bj3c] {
        padding: 0px 0px 0px 0px;
        margin-block: 15px;
        display: inline-grid;
    }

    .sort-option-box[b-klyc01bj3c] {
        display: inline-table;
    }

    .beach-guide-box[b-klyc01bj3c] {
        flex-direction: column;
        align-items: stretch;
        padding: 0px 50px 0px 0px;
        gap: 25px;
    }

    .area[b-klyc01bj3c] {
    }

    .beach-guide-btn1[b-klyc01bj3c],
    .beach-guide-btn2[b-klyc01bj3c] {
        flex-grow: 0;
        width: 26%;
        padding: 26px 14px 21px 27px;
    }

    .gulf-Shores-title[b-klyc01bj3c] {
        font-weight: 500;
        font-size: 2vw;
    }

    .moreInfo[b-klyc01bj3c] {
        margin-left: 0px;
        padding-right: 23px;
    }

    .gulf-heading3[b-klyc01bj3c] {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 576px) {
    .navbar-brand-btn[b-klyc01bj3c] {
        width: 100%;
        margin-bottom: 5px;
    }

        .navbar-brand-btn a[b-klyc01bj3c] {
            width: 100%;
            text-align: center;
        }
}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-brand-btn[b-klyc01bj3c] {
        width: 33.33%;
    }
}

@media (max-width: 575px) {

    .navbar-brand-btn[b-klyc01bj3c] {
        width: auto;
       /* margin-right: 10px; */
        margin-bottom: 0;
    }
 /* for Phone */

    .telephone[b-klyc01bj3c] {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; 
    }

    .telephone a[b-klyc01bj3c] {
        display: flex;
        align-items: center;
        gap: 5px; 
    }

}

@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn[b-klyc01bj3c] {
        width: 100%;
        /* margin-bottom: 5px;*/
    }
   

}

@media(max-width:768px) {
    .gulf-title[b-klyc01bj3c] {
        font-size: 17px;
       
    }
}

@media screen and (max-width: 768px) {
    .container-body[b-klyc01bj3c] {
        justify-content: center;
    }

    .card[b-klyc01bj3c] {
        width: 100%;
    }
}

/***********************************FOR IPad Air ***************************************************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .shores-heading[b-klyc01bj3c] {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link[b-klyc01bj3c] {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3[b-klyc01bj3c] {
    }

    .gulf-title[b-klyc01bj3c] {
        font-size: 26px;
        line-height: 29px;
    }

    .gulf-inform[b-klyc01bj3c] {
        padding-left: 0;
        text-align: center;
    }

    .frame-row[b-klyc01bj3c] {
        padding: 0px 0px 0px 68px;
        margin-block: 15px;
        display: inline-grid;
    }

    .sort-option-box[b-klyc01bj3c] {
        display: inline-table;
    }

    .beach-guide-box[b-klyc01bj3c] {
        flex-direction: column;
        align-items: stretch;
        padding: 3px 0px 0px 0px;
        gap: 5px;
        margin-left: 37px;
    }


    .beach-guide-btn1[b-klyc01bj3c],
    .beach-guide-btn2[b-klyc01bj3c] {
        flex-grow: 0;
        width: 26%;
        padding: 15px 19px 23px 20px;
    }

    .gulf-Shores-title[b-klyc01bj3c] {
        font-weight: 500;
        padding: 0px 60px 0px 0px;
        font-size: 23px;
    }


    .navslides-box[b-klyc01bj3c] {
        display: contents;
    }

    .navslides-box1[b-klyc01bj3c] {
        flex-direction: column;
        align-items: stretch;
    }
    .properties-nav[b-klyc01bj3c] {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }
    .pagination-box[b-klyc01bj3c] {
        margin-left: 0px;
        margin-top: 30px;
    }
  
    .card-text[b-klyc01bj3c] {
        font-size: 14px;
    }
    .beach-guide-options[b-klyc01bj3c] {
        padding: 0px 0px 0px 0px;
    }
    .line-btn[b-klyc01bj3c] {
        margin-left: 209px;
    }

}

/********************************************* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 390px),(min-width: 355px),(min-width: 280px) {
    .beach-guide-box[b-klyc01bj3c] {
        padding: 20px 25px 0px 0px;
      /*  display: flex;*/
        gap: 10px;
        margin-top: 11px;
        margin-left: 47px;
    }

    .beach-guide[b-klyc01bj3c] {
        height: 250px;
        display: flex;
      /*  width: 100%;*/
    }

    .gulf-Shores-title[b-klyc01bj3c] {
        display: contents;
        font-size: 24px;
    }

    .beach-guide-options[b-klyc01bj3c] {
        display: flex;
        padding: 0px 0px 0px 0px;                 
        align-items: center;
        margin-right: 0px;
       /* gap: 1px;*/
        margin-top: 0px;
        margin-left: 0px;
    }
  

    .beach-guide-heading[b-klyc01bj3c] {
        /*  display: contents;*/
    }

    .beach-guide-btn1[b-klyc01bj3c],
    .beach-guide-btn2[b-klyc01bj3c] {
        flex-grow: 0;
        width: 15%;
        padding: 0px 65px 0px 23px;
    }

    .shores-link[b-klyc01bj3c] {
        margin-top: 11px;
    }

    .pagination-box[b-klyc01bj3c] {
        display: contents;
        margin-top: 0px;
        /* width: 100%;
        margin-left: 0px;*/
        /* padding: 23px 0px 0px 0px;*/
    }

    .gulf-title[b-klyc01bj3c] {
        font-size: 28px;
       /* padding: 8px 246px 0px 0px;*/
    }
}


@media (max-width: 452px) {
    .line-btn[b-klyc01bj3c] {
        margin-left: 206px;
        width: auto;
    }

    .beach-guide-btn7[b-klyc01bj3c] {
        border-radius: 0px;
        width: 267px;
        height: 45px;
        background: #FEAF1A;
    }
    .beach-guide-box[b-klyc01bj3c] {
    }
}


@media(width:360px){
    .line-btn[b-klyc01bj3c] {
        margin-left: 180px;
    }
   
    .beach-guide[b-klyc01bj3c] {
        display: block;
    }
    .beach-guide-options[b-klyc01bj3c] {
        margin-right: 21px;
    }
    .area[b-klyc01bj3c]{
    }
   
}

@media(Min-width:375px){
    .line-btn[b-klyc01bj3c] {
        margin-left: 195px;
    }
}

@media(min-width:540px) {
    .card-text[b-klyc01bj3c] {
        font-size: 18px;
    }
    .container-body[b-klyc01bj3c] {
        display: grid;
    }
}


/***************************************** CSS rules specific to iPad Pro 7 in landscape mode */


@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .frame-row[b-klyc01bj3c] {
        width: 60%;
        margin-left: 89px;
        display: grid;
    }
    .card[b-klyc01bj3c] {
    }
}

@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 4) {
    /* CSS rules specific to Samsung Galaxy S8 */
    .moreInfo[b-klyc01bj3c] {
        margin-left: 0px;
        padding-right: 23px;
    }

    .gulf-heading3[b-klyc01bj3c] {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .beach-guide-options[b-klyc01bj3c] {
    }
    .line-btn[b-klyc01bj3c] {
        margin-left: 206px;
    }
}


@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 4) {
    /* CSS rules specific to Samsung Galaxy S8 */
    .beach-guide[b-klyc01bj3c] {
        padding: 5px 51px 1px 0px;
        display: flex;
        gap: 10px;
        margin-top: 11px;
        margin-left: 47px;
    }
}

/**************form ipadAIR*/

@media (width:820px) ,(width:768px){
    .card[b-klyc01bj3c] {
        width: 59%;
        margin-left: 80px;
    }
}

/**************form ipadMini*/


@media (width:768px) {
    .card[b-klyc01bj3c] {
        width: 73%;
        
    }
}

/****************For Navbar button****
*/

/*@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn {
        width: 100%;*/
        /* margin-bottom: 5px;*/
    /*}
}*/

@media (max-width: 768px) {
    .navbar-collapse[b-klyc01bj3c] {
        display: none;
    }

        .navbar-collapse.show[b-klyc01bj3c] {
            display: block;
        }
}

@media (min-width: 992px) {
    .navbar-expand-lg[b-klyc01bj3c] {
       
       
    }
    .navbar-collapse[b-klyc01bj3c] {
        display: contents;
        flex-direction: row-reverse;
    }
}
