


/***********************************FOR IPad Air ***************************************************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .shores-heading[b-2s293qz8zs] {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        gap: 5px;
    }

    .shores-link[b-2s293qz8zs] {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
    }

    .gulf-heading3[b-2s293qz8zs] {
    }

    .gulf-title[b-2s293qz8zs] {
        font-size: 16px;
        line-height: 29px;
    }

    .gulf-inform[b-2s293qz8zs] {
        padding-left: 0;
        text-align: center;
    }

    .frame-row[b-2s293qz8zs] {
        padding: 0px 0px 0px 0px;
        margin-block: 15px;
        display: inline-grid;
        margin-left: 62px;
    }

    .sort-option-box[b-2s293qz8zs] {
        display: inline-table;
    }

    .beach-guide-box[b-2s293qz8zs] {
        flex-direction: column;
        align-items: stretch;
        padding: 3px 0px 0px 0px;
        gap: 6px;
        margin-left: 37px;
    }


    .beach-guide-btn1[b-2s293qz8zs],
    .beach-guide-btn2[b-2s293qz8zs] {
        flex-grow: 0;
        width: 26%;
        padding: 26px 14px 21px 27px;
    }

    .gulf-Shores-title[b-2s293qz8zs] {
        font-weight: 500;
        padding: 0px 60px 0px 0px;
        font-size: 23px;
    }


    .navslides-box[b-2s293qz8zs] {
        display: contents;
    }

    .navslides-box1[b-2s293qz8zs] {
        flex-direction: column;
        align-items: stretch;
    }

    .properties-nav[b-2s293qz8zs] {
        flex-grow: 0;
        width: 100%;
        margin-bottom: 7px;
    }

    .pagination-box[b-2s293qz8zs] {
        margin-left: 0px;
        margin-top: 30px;
    }


    .container-body[b-2s293qz8zs] {
        justify-content: center;
    }

    .card[b-2s293qz8zs] {
        width: 75%;
    }

    .row-frame1[b-2s293qz8zs] {
        display: inline;
    }

    .row-heading-box[b-2s293qz8zs] {
        display: contents;
    }
}

@media (min-width: 375px),(min-width: 425px),(min-width: 320px) {
    .navbar-brand-btn[b-2s293qz8zs] {
        width: 100%;
        /* margin-bottom: 5px;*/
    }
}
